{% extends "AppBundle::layout.html.twig" %}

{% block title %}СМИ{% endblock %}

{% block content %}

    <section class="mainSearch col-sm-12">
        <form action="{{ path('search_results') }}">

            <div class="overview">
                <div class="arrow">
                    <img src="/images/arrow.svg" alt="" />
                </div>

                <p class="pull-right">
                    Проверьте правдивость любого новостного ресурса использую форму поиска:
                </p>
            </div>

            <div class="col-sm-10">
                <input class="searchInput form-control " aria-label="Search" type="text" name="text" placeholder="Адрес или название ресурса" />
            </div>

            <div class="col-sm-2">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Поиск
                </button>
            </div>
        </form>
    </section>

    <div class="col-sm-9">
        <h3>Последние ресурсы</h3>

        {% for site in sites %}

            <div class="panel ">
                <div class="panel-body">
                    <a href="{{ path('site_details', {url: site.url}) }}">
                        <strong>
                            {{ site.title }}
                        </strong>
                    </a>
                    <br/>
                    <small>{{ site.url }}</small>
                    <div>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        {{ site.comments | length }}
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

    <div class="col-sm-3">
        <h3>Комментарии</h3>

        {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ comment.text|length > 50 ? comment.text|slice(0, 50) ~ '...' : comment.text }}
                    <a href="{{ path('site_details', {url: comment.site.url}) }}"
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
