{% extends "AppBundle::layout.html.twig" %}

{% block title %}Информация о {{ site.url }} ("{{ site.title }}"){% endblock %}

{% block content %}

    <h1>{{ site.title }}</h1>

    <h3>
        <a href="http://{{ site.url }}" rel="nofollow" target="_blank">
            {{ site.url }}
        </a>
    </h3>

    <div class="panel panel-default">
        <div class="panel-body">
            <p>{{ site.description }}</p>
        </div>
    </div>

    <section class="comments">
        <h4>Комментарии</h4>

        {% for comment in site.comments %}
            <div class="panel panel-default">
                <div class="panel-heading">

                    {{ comment.user.name }}

                    <div class="pull-right">
                        {{ comment.dateCreated | date('d/m/Y') }}
                    </div>
                </div>
                <div class="panel-body">
                    {{ comment.text }}
                </div>
            </div>
        {% endfor %}
    </section>


{% endblock %}
